torch
psutil
tqdm
huggingface_hub
peft @ git+https://github.com/huggingface/peft@main
transformers @ git+https://github.com/huggingface/transformers@main
accelerate
bitsandbytes
datasets
sentencepiece
tensorboard
auto_gptq